* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.container {
    background-color: #fdf0c8;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: [header-start] 10vh [header-end nav-start] 10vh [nav-end main-start] 65vh [main-end footer-start] 15vh [footer-end];
    grid-template-columns: [body-start] 100vw [body-end];
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: header-start / header-end;
    grid-column: body-start / body-end;
    padding: 10px;
    background-color: #635E4E;
}

header h1 {
    color: #C1FCF0;
    font-family: 'Ruda', sans-serif;
    font-size: 32px;
}

.nav {
    display: flex;
    grid-row: nav-start / nav-end;
    grid-column: body-start / body-end;
    padding: 10px;
    background-color: #B1AB99;
    border-bottom: 1px solid #635E4E;
}

footer {
    display: flex;
    grid-row: footer-start / footer-end;
    grid-column: body-start / body-end;
    background-color: #B1AB99;
}

#home {
    color: #000000;
    margin-left: 0px;
}

.nav a {
    color: #404040;
    padding: 10px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.banner {
    background-color: #fdf0c8;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: main-start / main-end;
    grid-column: body-start / body-end;
    padding: 10px;
}

#zodiac {
    max-width: 100vw;
    max-height: 95%;
}